*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

button {
  background-color: #b3a369;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
}

a:hover {
  background-color: blue;
}
header{
	//background-color: rgb(4, 106, 56);
	height:10vh;
}
.ramasamy{
	background-color: rgb(4, 106, 56);
	display:flex;
	align-items: center;
}

footer{
	display:flex;
	height: 8vh;
	width: 100%;
	margin: auto;
	align-items: center;
	background-color: rgb(4, 106, 56);
	bottom:0;
	position:fixed;
}

main{
	width: 80%;
	height: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size:22px;
}
.catalogMain{
	width: 80%;
	height:600px;
	//background-color:blue;
	
		
}

.itemMain{
	display:flex;
	width: 80%;
	height:600px;
	//background-color:blue;		
}

.logo-container{
	display:flex;
	flex:2;
}

.user-specific-nav{
	flex:1;
}


.gen-site-nav{
	//padding-top:15px;
	background-color: #b3a369;
}

.gen-nav-links{
	//display:flex;
	//justify-content: space-around;
	list-style:none;
	//padding-top:5px;
}
.gen-link{
	color:black;
	font-size: 15px;
	font-weight:700;
	text-decoration:none;
}

.user-nav-links{
	display:flex;
	justify-content: space-around;
	list-style:none;
	padding-top:12px;
}

.user-link{
	color: white;
	font-size: 15px;
	font-weight:700;
	text-decoration:none;
}

.footer-link{
	color:white;
	text-decoration:none;
	font-size:15px;
	font-weight:700;
}

.footer-text{
	flex:1;
	color:white;
	text-decoration:none;
}

.footer-nav-links{
	display:flex;
	justify-content:space-around;
	list-style:none;
	flex:1;	
}

.Social{
	flex:4;
	text-align:right;
	padding-right:15px;
}

.test{
	flex:2;
	background-color:blue;
	float: left;
}

.test2{
	flex:1;
	background-color:yellow;
	float:right;
}

#inner1{
	float:left;
}
#inner2{
	float:left;
	clear:left;
}