*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header{
	background-color: rgb(4, 106, 56);
	height:10vh;
}
.ramasamy{
	display:flex;
	align-items: center;
}

footer{
	display:flex;
	height: 10vh;
	width: 100%;
	margin: auto;
	align-items: center;
	background-image: linear-gradient(-90deg, green, white);
	//background-color: rgb(4, 106, 56);
	bottom:0;
	position:absolute;
}

main{
	width: 80%;
	height: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size:22px;
}

.logo-container{
	display:flex;
	flex:2;
}

.user-specific-nav{
	flex:1;
}

.general-site-nav{
	
}


.nav-links{
	display:flex;
	justify-content: space-around;
	list-style:none;
	padding-top:12px;
}

.link{
	font-size: 18px;
	font-weight:700;
	text-decoration:none;
}